@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    background-color: #8f57fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    min-height: 100vh;
    margin: 0;
    padding: 0;
}